{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 150,
    "tabWidth": 4,
    "endOfLine": "auto",
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
}
